# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Audio files
*.wav

# Output files
*.txt

# Ignore libraries
fftw*/*
libsndfile*/*
libsamplerate*/*
libfvad-master/*
master.zip

# Text editor related files
*.c~
*.h~
.dir-locals.el

# CMake related files
CMakeFiles/*
src/CMakeFiles/*
tests/CMakeFiles/*
cmake_install.cmake
config.h
CTestTestfile.cmake
install_manifest.txt
Makefile
Testing/*

#Ignore compiled code
extract
tests/check_gammatone
